<!DOCTYPE html>
<html>
 <body>
  <h1>Pig Latinizer</h1>
  <%= @user_phrase%>
<!--<h2>Welcome to the "Pig Latinizer!"</h2>-->
<!--    <p>Translated phrase: <%= @user_phrase%></p>-->
    <!--<form method="post" action="/piglatinze"/form>-->
    <!--<p> Enter your phrase: "user_phrase"</p>-->
</body>
</html>	
